<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .success{
            color:green
        }
    </style>
</head>
<body>
    <form action="", method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field.errors %}
        {% for error in form.non_field.errors %}
        {{error}}
        {% endfor %}
        {% endif %}


        {% for fm in form %}
            {{fm.label_tag}} {{fm}}{{fm.errors|striptags}} <br> <br>
           
           {% endfor %}
        <input type="submit" value="submit" >
        </form>
  {% if messages %}
        {%  for message in messages %}
            {% if message.tags %}{{message.tags}} {% endif %}
            <span class="success">{{message}}</span>
            {% endfor %}
    {% endif %} 
    <a href="{% url 'userlogin' %}">click me </a>
</body>
</html>